<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="manifest" href="/static/manifest.json">

	
	<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
	<script src="static/js/onesignal_app_setup.js"></script>
	<script type=text/javascript>
		//setup root path for ajax
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>

    <link rel="icon" href="../../favicon.ico">

    <title>Feedback Loop</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/navbar-top-fixed.css" rel="stylesheet">
	<link href="static/css/feedbackloop.css" rel="stylesheet">
	<link href="static/css/jumbotron.css" rel="stylesheet">


  </head>

  <body class="bodyclass" >

    <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Feedback Loop</a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
                <ul class="nav navbar-nav">
                    <li class="nav-item"id="user_main"><a class="nav-link"  href="{{ url_for('user_main') }}">Home</a></li>
					<li class="nav-item" id="view_owned_channels"><a class="nav-link"  href="{{ url_for('view_owned_channels') }}">Your Channels</a></li>
                    <li class="nav-item" id="subscribed_channels"><a class="nav-link"  href="{{ url_for('subscribed_channels') }}">Subscribed Channels</a></li>
					<li class="nav-item" id="log_out"><a class="nav-link"  href="{{ url_for('log_out') }}">Log Out</a></li>

                </ul>
            
      </div>
    </nav>


    </div>
	    <div class="container body-content">
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p></p>
        </footer>
    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
	
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
    <script>window.jQuery 	|| document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
	<script src="static/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="static/js/ie10-viewport-bug-workaround.js"></script>
	<script src="static/js/feedbackloop-functions.js"></script>
	<!-- Putting separate page javascript files at the very end so that jquery is loaded first -->
	{% block scripts %}{% endblock %}
	<script src="static/js/push_subscription.js"></script>
	
  </body>
</html>
