{% extends "layout_logged_in.html" %}

{% block content %}
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

	
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Your Channels</h1>
        <p>Click "View details" to take a closer look at a channel and publish content from it</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('new_channel') }}" role="button">Create new channel &raquo;</a></p>
      </div>
    </div>

    <div class="container">

			<form method='POST' id="flaskForm" action="{{url_for('view_owned_channels')}}">
				{{ form.hidden_tag() }}
				<div class="row">
				{% for item in channel_list %}
					<div class="col-md-4">
					<h2>{{item.1}}</h2>
					<p>{{item.2}}</p>
					<p><button type="submit" formmethod="post" class="btn btn-secondary" value={{item.0}} name="channelid" >Create Surveys or<br/>View Survey Results &raquo</button></p>
					</div>
				{% endfor %}
				</div>
			</form>
      </div>
{% endblock %}
