{% extends "layout_logged_in.html" %}

{% block content %}
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->

	
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome</h1>
        <p>See below for active surveys. Press the little red button in the corner to get notifications when new surveys are published to your subscribed channels</p>
        <p><a class="btn btn-primary btn-lg" href="{{ url_for('new_channel') }}" name="create_channel"  role="button">Create new Channel &raquo;</a></p>
      </div>
    </div>
	<div class="container">
		<div class="row">
			{% for item in loop_list %}
				<div class="col-md-4">
				<h2>{{item.1}}</h2>
				<p id={{loop.index0~"_messageParagraph"}}>{{item.5}}</p>
				<p><button type="button" class="btn btn-secondary" value={{item.3}}  name="loopId" onclick="selectSurvey(this)" >Respond &raquo;</button></p>
				</div>
			{% endfor %}
		</div>
	</div>
	<form method='POST' id="flaskForm" action="{{url_for('user_main')}}">			
		{{ form.hidden_tag() }}
	</form>
	<script src="static/js/user_main.js"></script>
	

{% endblock %}