{% extends "layout_logged_in.html" %}

{% block content %}
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->

	
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Input your questions</h1>
        <p>Add answers or new questions by using the buttons</p>
        <p><a class="publishbutton btn btn-primary btn-lg" value={{channelid}} name="channel_id" onClick="publish()" role="button">Publish to all subs &raquo;</a></p>
		
		<button id="addQuestion"  class="addquestionbutton btn btn-secondary" onClick="addQuestion()"> Add Question &raquo; </button>
		<textarea id="messageBox" class="messagefield" placeholder="If you have a message to go with your questions, you can put it here"></textarea>

		</div>
      </div>
    </div>
	<div class="container">

	<div class="row" id="rowId"  >
		<div class="col-md-4 surveyinput" id="surveyItem_0" >
			<textarea id="question_0" class="questionbox" placeholder="Enter a question here" rows="3"></textarea>
			<div id="answersArea_0"></div>
			<button id="addAnswer_0"  class="addanswerbutton btn btn-secondary" onclick="addAnswer(this.id)" >&dArr; Add Answer &dArr;</button>
		</div>		
	</div>
	</div>
	<form method='POST' id="flaskForm" action="{{url_for('create_loop')}}">			
			{{ form.hidden_tag() }}
			<input id="jsonString" type="hidden" name="jsonString">
	</form>
	<script src="static/js/create_loop.js"></script>
{% endblock %}