<html>
  <head>
    <title>Login</title>
   <link rel="stylesheet" type="style_login/css" href="/static/style_login.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
        <h1>Login</h1>
      </div>
      <div id="login">
        <form method="post" action="{{ url_for('user_main') }}">
          <label for="email">Email address:</label>
          <input type="email" name="email"><br />
          <label for="password">Password:</label>
          <input type="password" name="password"><br />
          <input type="submit">
        </form>
      </div>
    </div>
  </body>
</html>	