{% extends "layout_logged_in.html" %}

{% block content %}
    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->

	
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

	  <form method='POST' action="{{url_for('owned_channel')}}"  >
	  	  {{ form.hidden_tag() }}
        <h1 class="display-3">{{form.channel_name}}</h1>
        <p>Click "View details" to look at data from recent loops</p>
        <p><input class="btn btn-primary btn-lg" formmethod='POST'  value="Create new loop &raquo;" name="create_loop" href="{{ url_for('owned_channel') }}" type="submit"></input></p>
      </form>
	  </div>
    </div>

{% endblock %}